<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>PUBLICATION_DATE</th>
        <th>NAME</th>
        <th>DEADLINE</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr th:each="homework: ${homeworks}">
        <td>
            <a th:href="@{'submit/' + ${homework.id()}}" th:text="${homework.id()}"/>
        </td>
        <td th:text="${homework.publicationDate()}">  </td>
        <td th:text="${homework.name()}">  </td>
        <td th:text="${homework.deadline()}">  </td>
        <td th:text="${homework.taskDescription()}">  </td>
    </tr>
</table>
<div>
    &nbsp;
</div>
<a href="/student/">Back to choosing options</a>

</body>
</html>